* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: cadetblue;
}

.logo > img {
    width: 160px;
    height: 160px;
}

.main-nav {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 120%;
    font-family: "Academy Engraved LET";
    margin-top: 10px;
    list-style: none;
    padding-right: 0;
    background-color: beige;
}

.main-nav_item a {
    color: peru;
    padding: 5px;
    text-decoration: none;
}

.main-nav_item a:hover {
    color: chocolate;
    font-size: 110%;
}

.main-nav_item a:active {
    text-decoration: underline;
}